*.sh
node_modules
*.md
*.woff
*.ttf
dist
/public
/docs
/bin
Dockerfile
.vscode
.idea
.husky
.local
.fatherrc.ts
.eslintrc.js
.prettierrc.js
.lintstagedrc.js
.prettierrc.js
.simple-git-hooks.js
.stylelintrc.js

*/.fatherrc.ts
